*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 2000px;
}


/*****************
    Universal
******************/
.btn {
    padding: 50px;
    min-width: 250px;
    text-transform: uppercase;
}

img {
  max-width: 100%;
  height: auto;
}

.heading {
    font-family: 'Source Sans Pro',sans-serif;
    text-transform: uppercase;
    font-weight: 900;
}

.heading_underline {
    font-size: 42px;
    color: grey;
}

h2.heading_underline::after {
    content: '';
    width: 35px;
    height: 5px;
    background: #E11D07;
    display: block;
    margin: 15px 0;
}

.para {
    font-family: Roboto,sans-serif;
    color: #aaa;
    font-weight: 500;
    line-height: 1.7;
    font-size: 17px;
}

.pt-100 {
    padding: 100px 0;
}

.bg-grey {
    background: #f7f7f7;
}

/*****************
    Navigation
******************/
nav {
    padding: 1rem 3rem !important;
    background: #fff;
}

nav ul li {
    margin: 0 30px;
}

nav.navbar ul li a.nav-link {
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: 900;
   color: #949494 !important;
   font-size: 18px;
}

/*****************
    Banner
******************/
.banner {
    background:  linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)) ,url("../img/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 750px;
}

.banner__content {
    padding: 10rem 2rem;
}

.banner__content h1 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 69px;
    letter-spacing: 2px;
    line-height: 1.3;
    font-family: 'Source Sans Pro', sans-serif;
}

.banner__content p {
    color: #fff;
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    width: 100%;
    max-width: 740px;
    line-height: 2;
    letter-spacing: 1px;
    padding: 10px 0;
}

.cta-btn .btn-1 {
    background: #e11d07;
    color: #fff;
    box-shadow: 0 6px 120px rgb(0 0 0 / 20%);
    border: 2px solid #e11d07;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 15px 45px;
}

.cta-btn .btn-2 {
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 15px 45px;
    border: 2px solid #fff;
    margin-left: 20px;
}

/*****************
    Features
******************/


.features .features__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    box-shadow: 0 6px 120px rgb(0 0 0 / 10%);
    transform: translateY(-70px);
}

.features__content .feature {
    padding: 20px;
    background: #fff;
    border-right: 2px solid #f5f5f5;
}

.features__content .feature h4 {
    color: #646464;
    font-size: 30px;
    padding-top: 40px;
}

.features__content .feature p {
    padding-top: 10px;
}

/*****************
    Features
******************/

.story .story__content {
    display: flex;
    justify-content: space-between;
}

.story .story__content .our-story {
    width: 25%;
    margin: 50px 0;
}

.story .story__content .core-values {
    width: 70%;
}

.story .story__content .media {
    background: url(../img/truck.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom right;
    width: 80%;
    height: 555px;
    box-shadow: 0 6px 120px rgb(0 0 0 / 10%);
}

.story .our-story p {
    /* width: 50%; */
    max-width: 350px;
}


.story .story__content a.about__link {
    color: grey;
    font-family: Roboto,sans-serif;
    text-transform: uppercase;
    border-bottom: 2px solid grey;
    font-weight: 600;
    padding-bottom: .5rem;
    letter-spacing: 1px;
    font-size: 14px;
}

.story .story__content a.about__link:hover {
    text-decoration: none;
}


.story .story__content .core-values .value {
   display: flex;
}

.story .story__content .core-values .value .icon i {
    
    color: #00A300;
    font-size: 28px;
    position: relative;
    top: 7px;
    margin-right: 20px;
}

.story .core-values .core-values-content {
    background: #fff;
    width: 30%;
    box-shadow: 0 6px 120px rgb(0 0 0 / 10%);
    position: absolute;
    top: 25%;
    right: 14px;
    padding: 40px 30px;
}

.story .core-values .core-values-content h4 {
    color: #646464;
    font-size: 30px;
    margin-bottom: 20px;
}

