*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*****************
    Universal
******************/
.btn {
    padding: 50px;
    min-width: 250px;
    text-transform: uppercase;
}

img {
  max-width: 100%;
  height: auto;
}

.heading {
    font-family: 'Source Sans Pro',sans-serif;
    text-transform: uppercase;
    font-weight: 900;
}


.heading_underline{
    font-size: 42px;
    color: grey;
}

.heading-secondary {
    color: #646464;
    font-size: 28px;
}

h2.heading_underline::after {
    content: '';
    width: 35px;
    height: 5px;
    background: #E11D07;
    display: block;
    margin: 15px 0;
}

.para {
    font-family: Roboto,sans-serif;
    color: #aaa;
    font-weight: 500;
    line-height: 1.7;
    font-size: 17px;
}

.pt-100 {
    padding: 110px 0;
}

.bg-grey {
    background: #f7f7f7;
}

.stat-title {
    text-align: center;
    font-size: 42px;
    color: grey;
}

.stat-para {
    font-weight: 500;
    color: #969696;
    text-align: center;
    font-size: 22px;
}

.loc-title {
    color: #fff;
    margin-bottom: 15px;
    font-size: 28px;
}

.loc-para {
    color: #eee;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.3;
}

/*****************
    Navigation
******************/
nav {
    padding: 1rem 3rem !important;
    background: #fff;
}

nav ul li {
    margin: 0 30px;
}

nav.navbar ul li a.nav-link {
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: 900;
   color: #949494 !important;
   font-size: 18px;
}

/*****************
    Banner
******************/
.banner {
    background:  linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)) ,url("../img/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 750px;
}

.banner__content {
    padding: 10rem 2rem;
}

.banner__content h1 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 69px;
    letter-spacing: 2px;
    line-height: 1.3;
    font-family: 'Source Sans Pro', sans-serif;
}

.banner__content p {
    color: #fff;
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    width: 100%;
    max-width: 740px;
    line-height: 2;
    letter-spacing: 1px;
    padding: 10px 0;
}

.cta-btn .btn-1 {
    background: #e11d07;
    color: #fff;
    box-shadow: 0 6px 120px rgb(0 0 0 / 20%);
    border: 2px solid #e11d07;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 15px 45px;
}

.cta-btn .btn-2 {
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 15px 45px;
    border: 2px solid #fff;
    margin-left: 20px;
}

/*****************
    Features
******************/


.features .features__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    box-shadow: 0 6px 120px rgb(0 0 0 / 10%);
    transform: translateY(-70px);
}

.features__content .feature {
    padding: 20px;
    background: #fff;
    border-right: 2px solid #f5f5f5;
}

.features__content .feature h4 {
    color: #646464;
    font-size: 30px;
    padding-top: 40px;
}

.features__content .feature p {
    padding-top: 10px;
}

/*****************
    Features
******************/

.story .story__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.story .story__content .our-story {
    width: 25%;
    margin: 50px 0;
}

.story .story__content .core-values {
    width: 70%;
}

.story .story__content .media {
    background: url(../img/truck.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom right;
    width: 80%;
    height: 555px;
    box-shadow: 0 6px 120px rgb(0 0 0 / 10%);
}

.story .our-story p {
    /* width: 50%; */
    max-width: 350px;
}


.story .story__content a.about__link {
    color: grey;
    font-family: Roboto,sans-serif;
    text-transform: uppercase;
    border-bottom: 2px solid grey;
    font-weight: 600;
    padding-bottom: .5rem;
    letter-spacing: 1px;
    font-size: 14px;
}

.story .story__content a.about__link:hover {
    text-decoration: none;
}


.story .story__content .core-values .value {
   display: flex;
}

.story .story__content .core-values .value .icon i {
    
    color: #00A300;
    font-size: 28px;
    position: relative;
    top: 7px;
    margin-right: 20px;
}

.story .core-values .core-values-content {
    background: #fff;
    width: 30%;
    box-shadow: 0 6px 120px rgb(0 0 0 / 10%);
    position: absolute;
    top: 15%;
    right: 14px;
    padding: 40px 30px;
}

.story .core-values .core-values-content h4 {
    color: #646464;
    font-size: 30px;
    margin-bottom: 20px;
}

/*****************
    Services
******************/
.services {
    background: linear-gradient(rgba(225,29,7,.7),rgba(225,29,7,.7)),url(../img/truck-bg.jpg);
    background-size: cover;
}

.services .services__content-block {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5em;
    margin-top: 40px;
}
.services .services__content-block .service {
    display: flex;
    background: #fff;
    gap: 10px;
    padding: 15px;
}

.services .services__content-block .services__icon {
    margin: 25px 0;
}

.services .services__content-block .services__icon i {
    border: 2px dashed #E11D07;
    color: #E11D07;
    padding: 20px 15px;
    margin: 18px;
}

/*****************
    Stat
******************/

.stats .real__stats {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    margin-top: 45px;
}

.stats .real__stats .stat {
    box-shadow: 0 6px 120px rgba(0,0,0,.1);
    padding: 30px 0;
}

.stats .real__stats .stat:nth-child(2), 
.stats .real__stats .stat:nth-child(4) {
    position: relative;
    top: 45px;
}

.stats .real__stats .stat-icon {
    text-align: center;
}

.stats .real__stats i {
    color: #E11D07;
}

.stats .real__stats .stat .stat-count {
    margin: 25px 0;
}


/*****************
    Stat
******************/
.quotes {
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('../img/truck-bg.jpg') no-repeat center center / cover;
    min-height: 900px;
}

.quotes .quotes__content-left  {
    display: grid;
    place-content: center;
    height: 650px;
}

.quotes .quotes__content-left h2 {
    color: #555;
}

.quotes .quotes__content-left .qf {
    display: flex;
    
}

.quotes .quotes__content-left .qf i {
    color: #00A300;
    font-size: 28px;
    padding: 0 25px 0 0;
}

.quotes .quotes__content-left p.quote_para  {
    color: #666;
    padding: 20px 0;
}

.quotes .quotes__content-left p.quote {
    color: #555;
    text-transform: uppercase;
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: bold;
}

.quotes .quotes__content-right form {
    background: #fff;
    box-shadow: 0 6px 120px rgba(0,0,0,.1);
    padding: 50px;
}

.quotes .quotes__content-right input {
    padding: 2rem;
    color: grey;
    font-weight: 600;
    border: none;
    width: 100%;
    margin-bottom: 3rem;
    background: rgba(225,242,255,.7);
    border: 2px solid #e1f2ff;
    font-family: Roboto,sans-serif;
    letter-spacing: 1px;
}

.quotes .quotes__content-right form button.submit-btn {
    background: #e11d07;
    color: #fff;
    box-shadow: 0 6px 120px rgba(0,0,0,.2);
    border: 2px solid #e11d07;
    padding: 20px 0;
    text-decoration: none;
    font-weight: 600;
    font-family: Roboto,sans-serif;
    letter-spacing: 1px;
    border: 2px solid #fff;
}

/*****************
    Map
******************/

.map .map__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.map .map__content .location {
    background: #e11d07;
    padding: 100px 45px;
}

.map .map__content .location h2 {
    margin-bottom: 60px;
    color: #fff;
}

.map .map__content .location h2::after {
    content: '';
    width: 35px;
    height: 5px;
    background: #fff;
    display: block;
    margin: 15px 0;
}

.map .map__content .location .loc {
    display: flex;
    /* justify-content: space-between; */
}

.map .map__content .location .loc i {
    color: #fff;
    font-size: 50px;
    margin-right: 30px;
}

.map .map__content .location .location__details {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 45px;
}


.map .map__box img {
    height: 100%;
    object-fit: cover;
}


/*****************
    footer
******************/
footer {
    background: #eee;
}

footer .footer__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}

footer .footer ul li {
    list-style: none;
}

footer .footer ul li a {
    display: block;
    padding: 5px 0;
    font-size: 18px;
    font-family: Roboto,sans-serif;
    color: #969696;
    margin-bottom: .5rem;
    font-weight: 500;
    text-decoration: none;
}

footer h5.footer-title {
    color: #969696;
    margin-bottom: 25px;
}

footer .footer img.footer-logo {
    margin-bottom: 10px;
}